#footer {
    position: fixed;
    height: 70px;
    width: 100%;
    background: transparent;
    z-index: 9;
    text-align: center;
    color: #668B8B;
    padding: 0 0 0 0;
    bottom: 0px;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: end;
}

#footer div {
    margin-bottom: 0.5em;
}

#footer-left {
    grid-column-start: 1;
    text-align: center;
    display: flex;
    margin-left: 3em;
}


#footer-right {
    margin-left: auto;
    margin-right: 2em;
    justify-content: space-around;
}

#footer-right a {
    margin: 0 2em;
}