* {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

p {
    display: inline;
}

img {
    width: 100%;
}

.fp-controlArrow.fp-prev {
    left: 40px;
}
.fp-controlArrow.fp-next {
    right: 40px;
}

/* Style for our header texts
* --------------------------------------- */
h1 {
    font-size: 5em;
    font-family: arial, helvetica;
    color: #fff;
    position: absolute;
    margin: 100px 100px;
}

h2 {
    font-size: 2.5em;
}

div {
    color: #fff;
}

.intro {
    margin: 0 1em;
}

.intro p {
    color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
    text-align: center;
}

/* Defining each section background and styles
	* --------------------------------------- */
#section0{
    background: linear-gradient(#0097b0,#91EAE4);
}

#section1{
    background: -webkit-gradient(linear, top left, bottom left, from(#91EAE4), to(#86A8E7));
    background: -webkit-linear-gradient(#91EAE4, #86A8E7);
    background: linear-gradient(#91EAE4,#86A8E7);
}

#section2{
    background: -webkit-gradient(linear, top left, bottom left, from(#86A8E7), to(#7F7FD5));
    background: -webkit-linear-gradient(#86A8E7, #7F7FD5);
    background: linear-gradient(#86A8E7,#7F7FD5);
}

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer {
    position: fixed;
    height: 70px;
    display: block;
    width: 100%;
    background: transparent;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 0 0 0 0;
}

#header {
    display: grid;
    grid-template-columns: 1fr repeat(1, auto) 1fr;
    grid-column-gap: 10px;
    justify-items: center;
    top: 0px;
}

#footer {
    bottom: 0px;
}

/* header elements
* --------------------------------------- */

#header {
    display: grid;
    grid-template-columns: 1fr repeat(1, auto) 1fr;
    align-content: center;
}

#header-center {
    grid-column-start: 2;
    text-align: center;
    display: flex;
}

#header-center > div {
    cursor: pointer;
    margin: 0 1em;
    height: 2em;
}

#header-right {
    margin-left: auto;
    margin-right: 2em;
    display: flex;
}

#header-right div, #header-right a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #ffffff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* footer elements
* --------------------------------------- */

#footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: end;
}

#footer div {
    margin-bottom: 0.5em;
}

#footer-left {
    grid-column-start: 1;
    text-align: center;
    display: flex;
    margin-left: 3em;
}

#footer-right {
    margin-left: auto;
    margin-right: 2em;
    justify-content: space-around;
}

#footer-right a {
    margin: 0 1em;
}

/* style for section 0
* --------------------------------------- */
.img-area {
    height: 80%;
    margin: 7%;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
    overflow: hidden;
    background-size: cover;
}

#slide1 .img-area{
    background-image: url("../assets/game-images/five.png");
}

#slide2 .img-area{
    background-image: url("../assets/game-images/shendu.jpg");
}

#slide3 .img-area{
    background-image: url("../assets/game-images/stardew2.png");
}

#slide4 .img-area{
    background-image: url("../assets/game-images/dontStarve.jpg");
}

/* style for section 1
* --------------------------------------- */
.vertically-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.vertically-half div {
}

#players-info {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

#players-info div {
    margin: 0 auto;
}

#players-info button {
    grid-column: 1 / 3;
    font-size: 16px;
    width: 20em;
    height: 3em;
    justify-self: center;
    border-radius: 1.5em;
    border: none;
}

.info-tag {
    width: 10em;
    padding: 1em 2em;
    border: 2px solid white;
    border-radius: 3em;
}

#todays-recommended {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
    justify-content: center;

}

.game-card > div, button {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.game-card > div:hover, button:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, .25);
}

.game-card-wrapper {
    width: 540px;
    height: 360px;
    border-radius: 20px;
}

.game-card-fill {
    width: 100%;
    height: 100%;
    background-image: url("../assets/game-images/bilan2.jpg");
    background-size: cover;
    transition: all .5s;
}

.game-card-wrapper:hover .game-card-fill,
.game-card-wrapper:focus .game-card-fill {
    transform: scale(1.1);
}

/*.hvr-grow-shadow div{*/
/*display: inline-block;*/
/*vertical-align: middle;*/
/*-webkit-transform: perspective(1px) translateZ(0);*/
/*transform: perspective(1px) translateZ(0);*/
/*box-shadow: 0 10px 20px rgba(0, 0, 0, .4);*/
/*-webkit-transition-duration: 0.3s;*/
/*transition-duration: 0.3s;*/
/*-webkit-transition-property: box-shadow, transform;*/
/*transition-property: box-shadow, transform;*/
/*}*/

/*.hvr-grow-shadow div:hover, .hvr-grow-shadow div:focus, .hvr-grow-shadow div:active {*/
/*box-shadow: 0 20px 30px rgba(0, 0, 0, .25);*/
/*-webkit-transform: scale(1.05);*/
/*transform: scale(1.05);*/
/*}*/

/* style for section 2
* --------------------------------------- */
.six-cells {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    align-items: end;
}

.six-cells h2 {
    grid-column: 1 / 3;
}

.six-cells > div {
    grid-row: 2 / span 2;
    width: 225px;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
}

.six-cells > div:nth-last-child(-n+2) {
    grid-row: 4 / span 2;
}

.six-cells > div > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all .5s;
}

.six-cells > div > div:hover,
.six-cells > div > div:focus {
    transform: scale(1.1);
}

#img1 {
    background-image: url("../assets/game-images/minecraft.jpg");
}
#img2 {
    background-image: url("../assets/game-images/feiren.jpg");
}
#img3 {
    background-image: url("../assets/game-images/five2.jpg");
}
#img4 {
    background-image: url("../assets/game-images/stardew.jpg");
}
#img5 {
    background-image: url("../assets/game-images/juedi.jpg");
}
#img6 {
    background-image: url("../assets/game-images/musedash.jpg");
}
#img7 {
    background-image: url("../assets/game-images/bilan.jpg");
}
#img8 {
    background-image: url("../assets/game-images/chuliuxiang.jpg");
}

